if authorised
    nav(class="nav nav-pills nav-justified")
        a(class="nav-link" href="/chain") Chain
        a(class="nav-link" href="/vote") Cast Vote 
        a(class="nav-link" href="/myTxn") My Vote
        a(class="nav-link" href="/result") Result